.footer__column-link {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  padding: 0;
  transition: opacity 1s ease-out;
}

.footer__column-link:hover {
  opacity: 0.3;
}
