
 /* {
  outline: 1px solid red;
}*/

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 183px;
}

.logo_place_header {
  position: absolute;
  height: 32px;
  left: 64px;
  top: 30px;
  background: url("../images/logo_place_header.svg");
  width: 228px;
}

.header__title {
  display: flex;
  max-width: 730px;
  line-height: 96px;
  font-size: 102px;
  margin: 0;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  bottom: 30px;
  left: 64px;
  max-width: 388px;
  margin: 0;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link::after {
  content: '\2192';
}

.header__main-illustration {
  object-fit: cover;
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 1;
}
  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0px;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  flex-basis: 80%;
}

.two-columns__brief {
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  max-width: 175px;
  margin: 0;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  margin-left: 50px;
  font-weight: normal;
  margin: 0 0 30px 0;
  padding: 0;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin: 100px 0;
}

.section-title {
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  min-width: 60%;
  margin: 0 auto 20px;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  min-width: 60%;
  margin: 0;
}

.table {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  list-style: none;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.feynman {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  background: url('../images/feynman.png'), #F2F2F2;
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  position: relative;
  min-height: 890px;
  box-sizing: border-box;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  max-width: 648px;
  margin: 0 auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  color: #2f80ed;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
}

.feynman__link::after {
  content: '\2192';
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.kaufman__triangle {
  background: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  overflow: hidden;
}

.section-title_theme_dark {
  position: relative;
  color: #f2f2f2;
  z-index: 1;
  font-weight: 600;
  line-height: 1.15;
  font-size: 60px;
  margin: 90px auto 20px auto;
}

.section-subtitle_theme_dark {
  color: #f2f2f2;
  font-weight: normal;
  line-height: 34px;
  font-size: 24px;
  margin-top: 20px;
}

.table_theme_dark {
  margin: 0 auto 90px;
  padding-left: 0;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  font-size: 24px;
  font-weight: 600;
  margin: 0 0 20px 0;
  line-height: 1.15;
}

.table__text_theme_dark {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
}

.footer {
  display: flex;
  background-color: #1f1f1f;
  box-sizing:border-box;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.logo_place_footer {
  background: url(../images/logo_place_footer.svg);
  margin: 0;
  height: 32px;
  width: 228px;
}

.footer__author {
  color: #fff;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 18px;
}

.footer__column-heading {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.footer__column-links {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 16px 0;
  padding: 0;
}

.footer__column-link {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  padding: 0;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}


